{% load staticfiles %}
<!--{% static ''%}-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Sistema{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="{% static 'base/js/bootstrap/css/bootstrap.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'base/js/bootstrap/extra/custom.min.css'%}">
    <link rel="stylesheet" href="{% static 'base/css/styles.css'%}">
    
    <script src="{% static 'base/js/jquery/jquery-1.10.2.min.js'%}"></script>
    <!--<script src="{% static 'base/js/jquery/jquery-migrate-3.0.0.min.js' %}"></script>-->
    <script src="{% static 'base/js/bootstrap/extra/bootstrap.min.js'%}"></script>
    <script src="{% static 'base/js/bootstrap/extra/custom.js'%}"></script>
    
    <!-- cargo archivos estaticos extra de ser necesario  -->
    {% block static_extra %}{% endblock %}
    <!-- cargo ejecucion de js de ser necesario -->
    {% block js_run %}{% endblock %}
</head>
<body>
    {% include 'base/inc_menu.html' %}
    {# <div class="page-header" id="banner"></div>  #}
    {# <div class="container"> #}
    {% block content %}{% endblock %}
    {# </div> #}
    <footer class="footer">
        
    </footer>
</body>
</html>
