<!--
alumno
<br/><a href="{% url 'alumno:alumnoCreate' %}">create</a>
<br/><a href="{% url 'alumno:alumnoList' %}">list</a>

<br/>users
<br/><a href="{% url 'users:create' %}">create</a>
<br/><a href="{% url 'users:list' %}">list</a>
-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Django</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="expedientes">
                        Usuario
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="expedientes">
                        <li><a href="{% url 'users:create' %}">Nuevo</a></li>
                        <!--<li class="divider"></li>-->
                        <li><a href="{% url 'users:list' %}">Consulta</a></li>
                        <!--<li class="divider"></li>-->
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="expedientes">
                        Alumno
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="expedientes">
                        <li><a href="{% url 'alumno:alumnoCreate' %}">Nuevo</a></li>
                        <!--<li class="divider"></li>-->
                        <li><a href="{% url 'alumno:alumnoList' %}">Consulta</a></li>
                        <!--<li class="divider"></li>-->
                    </ul>
                </li>


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="expedientes">
                        Docente
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="expedientes">
                        <li><a href="#">Nuevo</a></li>
                        <!--<li class="divider"></li>-->
                        <li><a href="#">Consulta</a></li>
                        <!--<li class="divider"></li>-->
                    </ul>
                </li>



            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>